@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

